<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-link active" routerLink="/"> Home </a> &nbsp;  |
      </li>
      <li class="nav-item">
        <a class="navbar-link" routerLink="/mediawatched"> Media Watch History </a> &nbsp; |
      </li>
      <li class="nav-item">
        <a class="navbar-link" routerLink="/weather"> Weather Station </a>
      </li>

    </ul>
  </div>

  <ul class="nav navbar-nav ml-auto w-100 justify-content-end" style="display:none">
    <li class="nav-item">
      <a class="nav-item nav-link active" [routerLink]="['/admin']">Admin Area! <span
          class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>
