<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div style="text-align: center;">
      <h1>
        Adam's Playground
      </h1>
    </div>
  </div>
</div>

<div >
  <div class="card-header">
    <div class="row">
      <div class="col-xs-4 col-lg-4">
        <div class="left"><span></span></div>
      </div>
      <div class="col-xs-4 col-lg-4 d-flex justify-content-center">
       A place for Adam to show off his creations
      </div>
      <div class="col-xs-4 col-lg-4 d-flex flex-column-reverse">

      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="formGroup">
  <br>&nbsp; &nbsp; Greetings!  This site is a repository for the apps that I am creating.
  For more information on this site please go to <a href="https://AdamCodes716.com" target="_new">AdamCodes716.com</a>
  <br><br>
  <strong><h3> &nbsp;&nbsp;Projects </h3></strong><br>
  <ul>
    <li>
       <strong>My Movie/TV Show History</strong> This app pulls back my watch history in chronological order from trakt.tv and (very soon) will allow me to update my watch history from this site. This should match up with my movie review site (<a href="https://IHateBadMovies.com" target="_new">here</a>), although I am often a movie or two behind in my reviews on that site. See the links in the menu above.
    </li>

  <li>
    <strong>My Weather Station Weather</strong> This app retrieves the real-time weather from my personal weather station (or any other registered weather station).  See the links in the menu above.
 </li>
</ul>
    </div>
    </div>

  <!-- This is the MOVIE card block-->

  <!--movie container-->


    <!--tv show container-->
</div>
<!--container-->
<app-footer></app-footer>
