<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div style="text-align: center;">
      <h1>
        Adam's Playground
      </h1>
    </div>
  </div>
</div>

<div >
  <div class="card-header">
    <div class="row">
      <div class="col-xs-4 col-lg-4">
        <div class="left"><span></span></div>
      </div>
      <div class="col-xs-4 col-lg-4 d-flex justify-content-center">
       A place for Adam to show off his creations
      </div>
      <div class="col-xs-4 col-lg-4 d-flex flex-column-reverse">

      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="formGroup">
  <br>Greetings!  This site is a repository for the apps that I am creating.
  For more information on this site please go to <a href="https://AdamCodes716.com" target="_new">AdamCodes716.com</a>
  <br><br>
  <strong><h3> Projects </h3></strong><br>
  <ul>
    <li>
       <strong><a href="mediawatched">My Movie/TV Show History</a></strong> This module pulls back my watch history from trak.tv and (very soon) will allow me to update my watch history from this site.
    </li>

  <li>
    <strong><a href="weather">My Weather Station Weather</a></strong> This module retrieves the real-time weather from my personal weather station (or any other registered weather station).
 </li>
</ul>
    </div>
    </div>

  <!-- This is the MOVIE card block-->

  <!--movie container-->


    <!--tv show container-->
</div>
<!--container-->
<app-footer></app-footer>
